@use './base/normalize' ;

// base
@use './base/base' ;

// section
@use './sections/header' ;

@use './sections/about-me' ;

@use './sections/_welcomeContent.scss';

@use './sections/skills';

// block
@use './blocks/burger' ;

@use './blocks/hero' ;

@use './blocks/avatar' ;

@use './base/_title.scss';