@use './base/normalize' ;

// base
@use './base/base' ;

// section
@use './sections/header' ;

@use './sections/about-me' ;

// block
@use './blocks/burger' ;

@use './blocks/hero' ;

@use './blocks/avatar' ;

