@use '../base/vars' as *;

.header {
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.logo {
}
.menu {
}
.menu__list {
    display: flex;
    gap: $gap-medium;
}
.menu__item {
    list-style: none;
}
.anchor-link {
    text-decoration: none;
}