@use '../base/vars' as *;
@use '../base/mixins' as *;

.header {
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.logo {
}
.menu {
    &__list {
        display: flex;
        gap: $gap-medium;
    }
    &__item {
        font-family: 'Inconsolata', monospace;
        list-style: none;
    }
}
.anchor-link {
    text-decoration: none;
    color: $color-secondary;
    font-size: 20px;
    font-weight: 700; 
    text-transform: capitalize;
    transition: color .3s, text-shadow .3s;
    @include hover_text($color-primary)
}