@use '../base/vars' as *;
@use '../base/mixins' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #00000000;
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 5px #0000008f;
    
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 ;

    .logo {
        max-width: 240px;
    }
}

.menu {
    &__list {
        display: flex;
        gap: $gap-medium;
    }
    &__item {
        font-family: 'Inconsolata', monospace;
        list-style: none;
    }
}

.anchor-link {
    text-decoration: none;
    color: $color-secondary;
    font-size: 20px;
    font-weight: 700; 
    text-transform: capitalize;
    transition: color 3s ease-in, text-shadow 3s ease-in;
    @include hover_text($color-primary)
}

@media (max-width: 1024px) {
    .header__content {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .header__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            z-index: 10;
        }

    }

    .menu {
        // отоброжение меню на айфонах dvh
        height: 100vh; 
        width: 100vw;
        background-color: $color-background;
        position: fixed;
        top: -100vh;
        left: 0;
        transition: .5s;
        opacity: 0;

        &.active {
            top: 0;
            opacity: 1;
        }
    }

    .menu__list {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;    
        height: 100vh; 
    }


}