@use '../base/vars' as *;


.header {
}
.header__content {
    display: flex;
    justify-content: space-between;
}
.logo {
}
.menu {
}
.menu__list {
    display: flex;
    gap: $gap-medium;
}
.menu__item {
    font-family: 'Inconsolata', monospace;
    font-weight: 800; 
    list-style: none;
}
.anchor-link {
    text-decoration: none;
}