@use '../base/vars' as *;
@use '../base/mixins' as *;

.projects {
}

.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
    width: 100%;
}

.projects-list__item {
    margin: 0 15px 30px;
    box-sizing: border-box;
    background: #ffffff;
}

.project-card {
    width: 320px;
    height: 320px;
}

.project-card__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card__info {
}


.common-title {
}