@use '../base/vars' as *;
@use '../base/mixins' as *;

.projects {
}

.projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 32px;
    width: 100%;
}

.projects-list__item {
    margin: 0 15px 30px;
    box-sizing: border-box;
    background: #ffffff;
}

.project-card {
    position: relative;
    width: 320px;
    height: 320px;
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        top: 0;
        left: 0;
        background: #21201D;
        width: 100%;
        height: 100%;
        padding: 40px 0;
    }
    &__top {
        padding-bottom: 16px;
        border-bottom: #8000b3 1px solid;
        max-width: 200px;
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }
    &__technalogi {
    }
    &__discription {
        max-width: 220px;
        margin-bottom: 16px;
    }
    &__link {
    }
    .common-title {
        margin: 16px;
    }
    &__preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




.common-title {
}