@use '../base/vars' as *;
@use '../base/mixins' as *;

.skills {
}
.skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
    
}
.common-title {
}
.list-skill-cards {
    display: flex;
    gap: 16px;
    list-style: none;
    &__item {
        
    }
}
.list-skill-cards__item {
    width: 200px;
    height: 300px;
}
.skill-card {
    position: relative;
    width: 100%;
    height: 100%;

    cursor: pointer;
    &__back, &__front {
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        transition: .7s;

    }
    &__back {
        transform: rotateY(180deg);
        
    }

    &__front {
        display: flex;
        transform: rotateY(0deg);
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 10px;
        background-color: $color-grey-100;
        padding: 60px 40px;
    }

    
    
    &__wrapper-pic {
        width: 128px;
        height: 128px;
    }
    &__wrapper-pic--smaller {
        width: 114px;
    }
    &__icon {
        fill: $color-secondary;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: fill 0.4s;

    }
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 400;
    }

}
.skill-card:hover {
    .skill-card__icon {
        filter: drop-shadow(0 0 5px);
    }
    .skill-card__icon--html {
        fill: #FC490B; 
        filter: drop-shadow(0 0 5px #FC490B);
    }
    
    .skill-card__icon--css {
        fill: #CA669B; 
        filter: drop-shadow(0 0 5px #CA669B);
    }
    
    .skill-card__icon--js {
        fill: #FFDF00; 
        filter: drop-shadow(0 0 5px #FFDF00);
    }
    
    .skill-card__icon--scss {
        fill: #2196F4; 
        filter: drop-shadow(0 0 5px #2196F4);
    }
    
    .skill-card__icon--git {
        fill: #F25234; 
        filter: drop-shadow(0 0 5px #F25234);
    }
}

.skill-card.active {
    position: fixed;
    transition: top .4s, left .4s, transform .4s;
    z-index: 11;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 30%;
    max-height: 300px;
    // max-width: 100%;
    
    
    // .skill-card__back {
    //     box-shadow: 0 0 8px #1f1e1b;
    //     border-radius: 8px;
    //     background: #1f1e1b80;
    //     transform: rotateY(0deg);
    //     backdrop-filter: blur(5px);
    // }
    // .skill-card__front {
    //     transform: rotateY(180deg);        
    // }
}
.skill-card__close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: transparent;
    width: 100%;
    height: 100vh;


}
.fade.open {
    background-color: #b702ff7e;
    backdrop-filter: blur(5px);
    z-index: 10;
}

.no-scroll {
    overflow: hidden ;
}