@use '../base/_vars.scss' as *;

.skills {
}
.skills__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
    
}
.common-title {
}
.list-skill-cards {
    display: flex;
    gap: 16px;
    list-style: none;
    &__item {
        
    }
}
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    background-color: $color-grey-100;
    width: 200px;
    height: 300px;
    // width: 100%;
    padding: 60px 40px;
    cursor: pointer;
    
    
    &__wrapper-pic {
        width: 128px;
        height: 128px;
    }
    &__wrapper-pic--smaller {
        width: 114px;
    }
    &__icon {
        fill: $color-secondary;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: fill 0.4s;

    }
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 400;
    }

}
.skill-card:hover {
    .skill-card__icon {
        filter: drop-shadow(0 0 5px);
    }
    .skill-card__icon--html {
        fill: #FC490B; 
        filter: drop-shadow(0 0 5px #FC490B);
    }
    
    .skill-card__icon--css {
        fill: #2196F4; 
        filter: drop-shadow(0 0 5px #2196F4);
    }
    
    .skill-card__icon--js {
        fill: #FFDF00; 
        filter: drop-shadow(0 0 5px #FFDF00);
    }
    
    .skill-card__icon--scss {
        fill: #CA669B; 
        filter: drop-shadow(0 0 5px #CA669B);
    }
    
    .skill-card__icon--git {
        fill: #F25234; 
        filter: drop-shadow(0 0 5px #F25234);
    }
}

