@use '../base/vars' as *; // Импорт переменных из файла vars.scss

.avatar {
    background-image: url('../img/avatar-bg.png');
    position: relative;
    width: 100%;
    max-width: 630px;
    aspect-ratio: auto 4/3; 
    background-repeat: no-repeat;


    &__item {
        position: absolute;
        border-radius: 29% 71% 16% 84% / 69% 54% 46% 31% ;
        max-width: 373px;
        width: 100%;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        
    }

    &__item--down {
        background: $color-secondary;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(20deg);
    }

    &__item--middle {
        background: $color-primary;
        opacity: .4;
        z-index: 2;
        transform: translate(-50%, -50%) rotate(30deg);
    }
    &__item--top {
        z-index: 3;
        overflow: hidden;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}