@use '../base/vars' as *; // Импорт переменных из файла vars.scss
@use '../base/mixins' as *;

.avatar {
    background-image: url('../img/avatar-bg.png');
    position: relative;
    width: 100%;
    max-width: 630px;
    aspect-ratio: auto 4/3; 
    background-repeat: no-repeat;


    &__item {
        position: absolute;
        border-radius: 29% 71% 16% 84% / 69% 54% 46% 31% ;
        max-width: 373px;
        width: 100%;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        
    }

    &__item--down {
        background: #f0e3cad0;
        z-index: 1;
        backdrop-filter: blur(20px);
        filter: blur(20px);
        @include rotate(9s, ease-in, infinite) 
    }

    &__item--middle {
        background: #b702ffc5;
        z-index: 2;
        backdrop-filter: blur(20px);
        filter: blur(20px);
        @include rotate(8s, ease-out, infinite) 
    }
    &__item--top {
        z-index: 3;
        overflow: hidden;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

