.avatar {
    background-image: url('../img/avatar-bg.png');
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {

    }
    &__item--down {

    }
    &__item--midle {

    }
    &__item--top {
        
    }
    &__picture {
        aspect-ratio: 1; 
        width: 300px; 
        height: 300px; 
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        object-fit: cover;
    }
}

