@use '../base/vars' as *; // Импорт переменных из файла vars.scss

.avatar {
    background-image: url('./img/avatar-bg.png');
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1; // Сохраняет квадратное соотношение сторон (1:1)

    &__item {
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item--down {
        width: 100%;
        height: 100%;
        background: $color-secondary;
        z-index: 1;
        border-radius: 29% 71% 16% 84% / 69% 54% 46% 31% ;
        transform: translate(-50%, -50%) rotate(20deg);
    }

    &__item--middle {
        width: 100%;
        height: 100%;
        background: $color-primary;
        opacity: .2;
        z-index: 2;
        border-radius: 55% 45% 89% 11% / 48% 31% 69% 52% ;
        transform: translate(-50%, -50%) rotate(30deg);
    }
    &__item--top {
        width: 100%;
        height: 100%;
        z-index: 3;
        border-radius: 29% 71% 16% 84% / 69% 54% 46% 31% ;
        overflow: hidden;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}