@use '../base/vars' as *;
@use '../base/mixins' as *;

.burger {
    display: none;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;

    &__center-line {
        position: relative;
        display: block;
        width: 36px;
        height: 4px;
        background-color: $color-secondary;
        transition: background-color .3s 0s;

        &:before, &::after {
            position: absolute;
            content: '';
            display: block;
            width: 36px;
            height: 4px;
            background-color: $color-secondary;
        }
        
        &:before {
            top: -10px;
            transition: top .3s .3s, transform .3s;
        }

        &:after {
            bottom: -10px;
            transition: bottom .3s .3s, transform .3s;
        }

    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: center; 
        align-items: center;   
        z-index: 10;
    }
}

.burger.active {
    .burger__center-line {
        background-color: transparent;
        
        &:before {
            top: 0;
            transform: rotate(45deg);
            transition: top .3s, transform .3s .3s;
        }

        &:after {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom .3s, transform .3s .3s;
        }
    }
}