@use './vars.scss' as *;

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: $color-background;
    font-family: 'Inconsolata';
}

.container {
    max-width: 1440px;
    padding: 0 113px;
    margin: 0 auto;
    @media (max-width: 1024px) {
        padding: 0 37px;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
*, *>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}