$color-primary: #b702ff;      /* Основной цвет бренда */
$color-secondary: #f0e3ca;    /* Второстепенный цвет */
$color-grey-100: #21201D;
$color-grey-200: #1f1e1b;       /* Акцентный цвет для кнопок, выделения */
$color-grey-300: #1b1a17;   /* Цвет фона */
$font-primary: 'Inconsolata';

$gap-small: 16px;   
$gap-medium: 64px;   


