$color-primary: #4b176d;      /* Основной цвет бренда */
$color-secondary: #f0e3ca;    /* Второстепенный цвет */
$color-accent: #1f1e1b;       /* Акцентный цвет для кнопок, выделения */
$color-background: #1b1a17;   /* Цвет фона */

$padding-m: 16px;   
$padding-l: 64px;   

$margin-m: 16px;
$margin-l: 64px;
